

.branch-item {
    background-color: lightcyan;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: large;
}

.branch-item p {
    color: chartreuse!important;
    text-decoration: none;

}