body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
  
.category-item {
    background-color: #ffff10;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 75vw;
    margin: 50px;
    border-radius: 30px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(10px);
    border: 10px solid rgba(22, 231, 231, 0.18);
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0,0.37);
}

.title {
    font-family: 'Bebas Neue', 'sans serif'!important;
    color: white;
    font-weight: bolder;
    font-size: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.tag-line {
    font-family: 'ROBOTO'!important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.category-branches-container {
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    border-radius: 26px;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}