


.under-construction-container {
    text-align: center;
    margin-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .gradient-text {
    background-image: linear-gradient(to right, #D16BA5, #86A8E7, #5FFBF1);
    color: transparent;
    -webkit-background-clip: text; /* For Safari/Chrome/iOS */
    background-clip: text;
  }
  
  p {
    color: #666;
  }
  
  .under-construction {
    height: 350px;
  }